<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjt.mapper.BaseDataMapper">
  <resultMap id="BaseResultMap" type="com.zjt.entity.BaseData">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="month" jdbcType="VARCHAR" property="month" />
    <result column="num_people" jdbcType="INTEGER" property="numPeople" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>
  
  <select id="selectBaseDataByMonth" resultMap="BaseResultMap">  
	SELECT
		sum(num_people) AS num_people,
		sum(amount) AS amount
	FROM
		base_data
	WHERE
		`month` IN  
	<foreach item="months" index="index" collection="months" open="(" separator="," close=")">  
  		#{months}  
 	</foreach> 
  </select>  
  
   <select id="getBaseDataById" parameterType="com.zjt.entity.BaseData" resultType="java.lang.Integer">
 	 select count(1) from base_data
 	 where 1 = 1
	<if test="month != null and month != ''">
		AND month = #{month}
	</if> 
	<if test="id != null and id != ''">
		AND id != #{id}
	</if> 		
  </select>
  
  <select id="getBaseDataListSerch" parameterType="java.util.HashMap" resultMap="BaseResultMap">
	SELECT
		id,
		month,
		num_people,
		amount,
		remarks
	FROM
		base_data
	WHERE 1 = 1
		<if test="month != null and month != ''">
		AND month = #{month}
		</if> 
	limit ${pageNo},${pageSize}
  </select>
  
</mapper>