<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjt.mapper.BusinessDataDetailMapper">
  <resultMap id="BaseResultMap" type="com.zjt.entity.BusinessDataDetail">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="business_data_id" jdbcType="INTEGER" property="businessDataId" />
    <result column="business_id" jdbcType="VARCHAR" property="businessId" />
    <result column="business_name" jdbcType="VARCHAR" property="businessName" />
    <result column="business_type" jdbcType="VARCHAR" property="businessType" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="num" jdbcType="INTEGER" property="num" />
    <result column="total_price" jdbcType="DECIMAL" property="totalPrice" />
    <result column="submit_date" jdbcType="TIMESTAMP" property="submitDate" />
    <result column="create_user" jdbcType="VARCHAR" property="createUser" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_user" jdbcType="VARCHAR" property="updateUser" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <delete id="deleteByBusinessDataId" parameterType="java.lang.String">
    delete from business_data_detail
    where business_data_id = #{businessDataId}
  </delete>
  <select id="selectListByBusinessDataId" parameterType="java.lang.String" resultMap="BaseResultMap">
 	 SELECT
		business_data_detail.business_id AS id,
		business_data_detail.business_name,
		business_type.business_type_name AS business_type,
		business_data_detail.price,
		business_data_detail.num
	FROM
		business_data_detail LEFT JOIN business_type ON business_data_detail.business_type = business_type.id
 	WHERE business_data_id =  #{id}
 	
  </select>
</mapper>