<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zjt.mapper.DeptMapper">
  <resultMap id="BaseResultMap" type="com.zjt.entity.Dept">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="dept_id" jdbcType="VARCHAR" property="deptId" />
    <result column="dept_name" jdbcType="VARCHAR" property="deptName" />
    <result column="dept_act" jdbcType="VARCHAR" property="deptAct" />
    <result column="dept_leader" jdbcType="VARCHAR" property="deptLeader" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
  </resultMap>

  <select id="getDeptList" resultMap="BaseResultMap">
    <![CDATA[
    SELECT dept_id,dept_name from dept
    ]]>
  </select>
  
  
  <select id="getDeptListSerch" parameterType="java.util.HashMap" resultMap="BaseResultMap">
 	 SELECT
		dept.id,
		dept_id,
		dept_name,
		user1.user_name AS  dept_act,
		user2.user_name AS dept_leader,
		dept.remarks
	FROM
		dept
	LEFT JOIN t_user user1 ON dept.dept_act = user1.id
	LEFT JOIN t_user user2 ON dept.dept_leader = user2.id
 	WHERE 1 = 1
 	<if test="deptId != null and deptId != ''">
		AND dept_id like '%${deptId}%'
	</if>  
	<if test="deptName != null and deptName != ''">
		AND dept_name like '%${deptName}%'
	</if>
	limit ${pageNo},${pageSize}
  </select>
  
  <select id="getDeptByDeptId" parameterType="com.zjt.entity.Dept" resultType="java.lang.Integer">
 	 select count(1) from dept
 	 where 1 = 1
 	<if test="deptId != null and deptId != ''">
		AND dept_id = #{deptId}
	</if>  
	<if test="id != null and id != ''">
		AND id != #{id}
	</if> 		
  </select>
  
  <select id="getDeptByDeptName" parameterType="com.zjt.entity.Dept" resultType="java.lang.Integer">
 	 select count(1) from dept
 	 where 1 = 1
	<if test="deptName != null and deptName != ''">
		AND dept_name = #{deptName}
	</if> 
	<if test="id != null and id != ''">
		AND id != #{id}
	</if> 		
  </select>
  
  
</mapper>